In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/credit_card_db')

In [3]:
raw_data = pd.read_csv("Resources/CC GENERAL.csv")
raw_data

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6
8946,C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,275.861322,NaN,0.000000,6
8947,C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6
8948,C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6
8949,C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6

In [4]:
renamed_df = raw_data.rename(columns={"CUST_ID": "customer_id",
                                      "BALANCE": "balance",
                                      "BALANCE_FREQUENCY":"balance_change_frequency",
                                      "PURCHASES": "number_of_purchases",
                                      "ONEOFF_PURCHASES":"oneoff_purchases",
                                      "INSTALLMENTS_PURCHASES":"installment_purchases",
                                      "CASH_ADVANCE":"amount_cash_advance",
                                      "PURCHASES_FREQUENCY":"purchases_frequency",
                                      "ONEOFF_PURCHASES_FREQUENCY":"oneoff_purchases_frequency",
                                      "PURCHASES_INSTALLMENTS_FREQUENCY":"installment_purchase_frequency",
                                      "CASH_ADVANCE_FREQUENCY":"cash_advance_frequency",
                                      "CASH_ADVANCE_TRX":"cash_advance_transactions",
                                      "PURCHASES_TRX":"purchase_transactions",
                                      "CREDIT_LIMIT":"credit_limit",
                                      "PAYMENTS":"amount_of_payments",
                                      "MINIMUM_PAYMENTS":"minimum_payments_made",
                                      "PRC_FULL_PAYMENT":"pct_of_full_payments",
                                      "TENURE":"tenure"})
renamed_df

,customer_id,balance,balance_change_frequency,number_of_purchases,oneoff_purchases,installment_purchases,amount_cash_advance,purchases_frequency,oneoff_purchases_frequency,installment_purchase_frequency,cash_advance_frequency,cash_advance_transactions,purchase_transactions,credit_limit,amount_of_payments,minimum_payments_made,pct_of_full_payments,tenure
0,C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6
8946,C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,275.861322,NaN,0.000000,6
8947,C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6
8948,C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6
8949,C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6

In [5]:
renamed_df.isna().sum()

customer_id                         0
balance                             0
balance_change_frequency            0
number_of_purchases                 0
oneoff_purchases                    0
installment_purchases               0
amount_cash_advance                 0
purchases_frequency                 0
oneoff_purchases_frequency          0
installment_purchase_frequency      0
cash_advance_frequency              0
cash_advance_transactions           0
purchase_transactions               0
credit_limit                        1
amount_of_payments                  0
minimum_payments_made             313
pct_of_full_payments                0
tenure                              0
dtype: int64

In [31]:
no_na_df=renamed_df.dropna()
no_na_df.set_index(['customer_id'],inplace = True)
no_na_df

,balance,balance_change_frequency,number_of_purchases,oneoff_purchases,installment_purchases,amount_cash_advance,purchases_frequency,oneoff_purchases_frequency,installment_purchase_frequency,cash_advance_frequency,cash_advance_transactions,purchase_transactions,credit_limit,amount_of_payments,minimum_payments_made,pct_of_full_payments,tenure
customer_id,,,,,,,,,,,,,,,,,
C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
C10006,1809.828751,1.000000,1333.28,0.00,1333.28,0.000000,0.666667,0.000000,0.583333,0.000000,0,8,1800.0,1400.057770,2407.246035,0.000000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C19184,5.871712,0.500000,20.90,20.90,0.00,0.000000,0.166667,0.166667,0.000000,0.000000,0,1,500.0,58.644883,43.473717,0.000000,6
C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6
C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6
C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6
C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6

In [32]:
no_na_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8636 entries, C10001 to C19190
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   balance                         8636 non-null   float64
 1   balance_change_frequency        8636 non-null   float64
 2   number_of_purchases             8636 non-null   float64
 3   oneoff_purchases                8636 non-null   float64
 4   installment_purchases           8636 non-null   float64
 5   amount_cash_advance             8636 non-null   float64
 6   purchases_frequency             8636 non-null   float64
 7   oneoff_purchases_frequency      8636 non-null   float64
 8   installment_purchase_frequency  8636 non-null   float64
 9   cash_advance_frequency          8636 non-null   float64
 10  cash_advance_transactions       8636 non-null   int64
 11  purchase_transactions           8636 non-null   int64
 12  credit_limit                    8636 non-null   float64
 13  amount_of_payments              8636 non-null   float64
 14  minimum_payments_made           8636 non-null   float64
 15  pct_of_full_payments            8636 non-null   float64
 16  tenure                          8636 non-null   int64
dtypes: float64(14), int64(3)
memory usage: 1.2+ MB

In [37]:
no_na_df.to_sql(name='full_credit_cards',
                        con=engine,
                        index=True,
                        if_exists='append')

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "full_credit_cards_pkey"
DETAIL:  Key (customer_id)=(C10001) already exists.

[SQL: INSERT INTO full_credit_cards (customer_id, balance, balance_change_frequency, number_of_purchases, oneoff_purchases, installment_purchases, amount_cash_advance, purchases_frequency, oneoff_purchases_frequency, installment_purchase_frequency, cash_advance_frequency, cash_advance_transactions, purchase_transactions, credit_limit, amount_of_payments, minimum_payments_made, pct_of_full_payments, tenure) VALUES (%(customer_id)s, %(balance)s, %(balance_change_frequency)s, %(number_of_purchases)s, %(oneoff_purchases)s, %(installment_purchases)s, %(amount_cash_advance)s, %(purchases_frequency)s, %(oneoff_purchases_frequency)s, %(installment_purchase_frequency)s, %(cash_advance_frequency)s, %(cash_advance_transactions)s, %(purchase_transactions)s, %(credit_limit)s, %(amount_of_payments)s, %(minimum_payments_made)s, %(pct_of_full_payments)s, %(tenure)s)]
[parameters: ({'customer_id': 'C10001', 'balance': 40.900749, 'balance_change_frequency': 0.818182, 'number_of_purchases': 95.4, 'oneoff_purchases': 0.0, 'installment_purchases': 95.4, 'amount_cash_advance': 0.0, 'purchases_frequency': 0.166667, 'oneoff_purchases_frequency': 0.0, 'installment_purchase_frequency': 0.083333, 'cash_advance_frequency': 0.0, 'cash_advance_transactions': 0, 'purchase_transactions': 2, 'credit_limit': 1000.0, 'amount_of_payments': 201.802084, 'minimum_payments_made': 139.50978700000002, 'pct_of_full_payments': 0.0, 'tenure': 12}, {'customer_id': 'C10002', 'balance': 3202.467416, 'balance_change_frequency': 0.909091, 'number_of_purchases': 0.0, 'oneoff_purchases': 0.0, 'installment_purchases': 0.0, 'amount_cash_advance': 6442.9454829999995, 'purchases_frequency': 0.0, 'oneoff_purchases_frequency': 0.0, 'installment_purchase_frequency': 0.0, 'cash_advance_frequency': 0.25, 'cash_advance_transactions': 4, 'purchase_transactions': 0, 'credit_limit': 7000.0, 'amount_of_payments': 4103.032596999999, 'minimum_payments_made': 1072.340217, 'pct_of_full_payments': 0.22222199999999998, 'tenure': 12}, {'customer_id': 'C10003', 'balance': 2495.148862, 'balance_change_frequency': 1.0, 'number_of_purchases': 773.17, 'oneoff_purchases': 773.17, 'installment_purchases': 0.0, 'amount_cash_advance': 0.0, 'purchases_frequency': 1.0, 'oneoff_purchases_frequency': 1.0, 'installment_purchase_frequency': 0.0, 'cash_advance_frequency': 0.0, 'cash_advance_transactions': 0, 'purchase_transactions': 12, 'credit_limit': 7500.0, 'amount_of_payments': 622.066742, 'minimum_payments_made': 627.284787, 'pct_of_full_payments': 0.0, 'tenure': 12}, {'customer_id': 'C10005', 'balance': 817.714335, 'balance_change_frequency': 1.0, 'number_of_purchases': 16.0, 'oneoff_purchases': 16.0, 'installment_purchases': 0.0, 'amount_cash_advance': 0.0, 'purchases_frequency': 0.083333, 'oneoff_purchases_frequency': 0.083333, 'installment_purchase_frequency': 0.0, 'cash_advance_frequency': 0.0, 'cash_advance_transactions': 0, 'purchase_transactions': 1, 'credit_limit': 1200.0, 'amount_of_payments': 678.334763, 'minimum_payments_made': 244.79123700000002, 'pct_of_full_payments': 0.0, 'tenure': 12}, {'customer_id': 'C10006', 'balance': 1809.8287510000002, 'balance_change_frequency': 1.0, 'number_of_purchases': 1333.28, 'oneoff_purchases': 0.0, 'installment_purchases': 1333.28, 'amount_cash_advance': 0.0, 'purchases_frequency': 0.666667, 'oneoff_purchases_frequency': 0.0, 'installment_purchase_frequency': 0.583333, 'cash_advance_frequency': 0.0, 'cash_advance_transactions': 0, 'purchase_transactions': 8, 'credit_limit': 1800.0, 'amount_of_payments': 1400.05777, 'minimum_payments_made': 2407.246035, 'pct_of_full_payments': 0.0, 'tenure': 12}, {'customer_id': 'C10007', 'balance': 627.260806, 'balance_change_frequency': 1.0, 'number_of_purchases': 7091.01, 'oneoff_purchases': 6402.63, 'installment_purchases': 688.38, 'amount_cash_advance': 0.0, 'purchases_frequency': 1.0, 'oneoff_purchases_frequency': 1.0, 'installment_purchase_frequency': 1.0, 'cash_advance_frequency': 0.0, 'cash_advance_transactions': 0, 'purchase_transactions': 64, 'credit_limit': 13500.0, 'amount_of_payments': 6354.314328, 'minimum_payments_made': 198.065894, 'pct_of_full_payments': 1.0, 'tenure': 12}, {'customer_id': 'C10008', 'balance': 1823.6527429999999, 'balance_change_frequency': 1.0, 'number_of_purchases': 436.2, 'oneoff_purchases': 0.0, 'installment_purchases': 436.2, 'amount_cash_advance': 0.0, 'purchases_frequency': 1.0, 'oneoff_purchases_frequency': 0.0, 'installment_purchase_frequency': 1.0, 'cash_advance_frequency': 0.0, 'cash_advance_transactions': 0, 'purchase_transactions': 12, 'credit_limit': 2300.0, 'amount_of_payments': 679.0650820000001, 'minimum_payments_made': 532.03399, 'pct_of_full_payments': 0.0, 'tenure': 12}, {'customer_id': 'C10009', 'balance': 1014.9264730000001, 'balance_change_frequency': 1.0, 'number_of_purchases': 861.49, 'oneoff_purchases': 661.49, 'installment_purchases': 200.0, 'amount_cash_advance': 0.0, 'purchases_frequency': 0.333333, 'oneoff_purchases_frequency': 0.083333, 'installment_purchase_frequency': 0.25, 'cash_advance_frequency': 0.0, 'cash_advance_transactions': 0, 'purchase_transactions': 5, 'credit_limit': 7000.0, 'amount_of_payments': 688.278568, 'minimum_payments_made': 311.963409, 'pct_of_full_payments': 0.0, 'tenure': 12}  ... displaying 10 of 8636 total bound parameter sets ...  {'customer_id': 'C19189', 'balance': 13.457564000000001, 'balance_change_frequency': 0.833333, 'number_of_purchases': 0.0, 'oneoff_purchases': 0.0, 'installment_purchases': 0.0, 'amount_cash_advance': 36.558778000000004, 'purchases_frequency': 0.0, 'oneoff_purchases_frequency': 0.0, 'installment_purchase_frequency': 0.0, 'cash_advance_frequency': 0.166667, 'cash_advance_transactions': 2, 'purchase_transactions': 0, 'credit_limit': 500.0, 'amount_of_payments': 52.549958999999994, 'minimum_payments_made': 55.755628, 'pct_of_full_payments': 0.25, 'tenure': 6}, {'customer_id': 'C19190', 'balance': 372.708075, 'balance_change_frequency': 0.666667, 'number_of_purchases': 1093.25, 'oneoff_purchases': 1093.25, 'installment_purchases': 0.0, 'amount_cash_advance': 127.04000800000001, 'purchases_frequency': 0.666667, 'oneoff_purchases_frequency': 0.666667, 'installment_purchase_frequency': 0.0, 'cash_advance_frequency': 0.333333, 'cash_advance_transactions': 2, 'purchase_transactions': 23, 'credit_limit': 1200.0, 'amount_of_payments': 63.165404, 'minimum_payments_made': 88.288956, 'pct_of_full_payments': 0.0, 'tenure': 6})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [39]:
no_na_df.to_csv("pandas_etl.csv")